<ion-view view-title="联系我们">
  <ion-content>
    <h4 class="center margin-top-20px">《炎黄春秋》</h4>
    <p class="padding-left-20px padding-right-20px">
      是以史为主的综合性纪实月刊。对古今中外、重点是当代革命和建设的重大事件和重要人物的是非功过，依据翔实的史料，秉笔直书，不增美，不溢恶，求实存真，以史为鉴，以史资治。<br>
　　《炎黄春秋》拥有一大批高水平的作者，他们有的是资深的革命家，是革命和建设重大事件的亲历者；有的是学有专长的专家学者，对重大历史事件和人物有深入的研究。他们的文章具有较高的权威性和史料价值，在海内外读者中享有很高的声誉。
    </p>
    <h4 class="center margin-top-20px">广告联系方式</h4>
    <ul class="margin-left-40px">
      <li>本刊社址：北京西城区月坛南街69号</li>
      <li>邮政编码：100045</li>
      <li>广告热线：010-68532048</li>
      <li>传 真：010-68532569</li>
      <li>电子信箱：yhcqggb01@126.com</li>
    </ul>
  </ion-content>
</ion-view>
