<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="精选文章" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/choosen">
    <ion-nav-view name="tab-choosen"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="热门文章" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/hots">
    <ion-nav-view name="tab-hots"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="炎黄图书" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/bookstore">
    <ion-nav-view name="tab-bookstore"></ion-nav-view>
  </ion-tab>

  <ion-tab title="联系我们" icon-off="ion-ios-telephone-outline" icon-on="ion-ios-telephone" href="#/tab/contactus">
    <ion-nav-view name="tab-contactus"></ion-nav-view>
  </ion-tab>


</ion-tabs>
